<div class="row">
  <div class="col-md-6"> 
    


    <%= link_to({controller: 'calendar', action: 'previous', month: @date.month, year: @date.year}) do%>
      <span class="glyphicon glyphicon-chevron-left" ></span>
    <% end %>

    <%= link_to({controller: 'calendar', action: 'next', month: @date.month, year: @date.year}) do%>
      <span class="glyphicon glyphicon-chevron-right" ></span>
    <% end %>

    <%= @date.year %>
    <%= @date.month %>

    <table class="table table-hover table-bordered">
      <tr>
        <td>Sunday</td>
        <td>Monday</td>
        <td>Tuesday</td>
        <td>Wednesday</td>
        <td>Thursday</td>
        <td>Friday</td>
        <td>Saturday</td>
      </tr>
      <% @arr.each do |s| %>
      <tr>
        <% s.each do |y|%>
          <% if(y[:date].nil? )%>
          <td></td>
          <% else %>
          <td>
          <%= y[:date].date.day %><br>
            <% if(y[:schedule].present? )%>
            <%= link_to(y[:schedule].title, calendar_path(id: y[:schedule].id)) %>
            <% end %>
          
          </td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
    <%= link_to "send", calendar_index_path , class: "btn btn-lg btn-primary"%> 
  </div>
  <div class="col-md-4"><%= render template: 'schedule/index' %>
  </div>
</div>
