<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title><%= full_title(yield(:title))%></title>
  <%= render 'layouts/rails_default' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
  <%= yield %>
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
     <p class="alert"><%= alert %></p>
  <% end %>

  <%= render 'layouts/footer'%>
  </div>
</body>
</html>
